* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: avalon-bold;
    src: url(../avalon/Avalon-Bold.ttf);
}

@font-face {
    font-family: avalon-extralight;
    src: url(../avalon/Avalon-ExtraLight.ttf);
}

@font-face {
    font-family: avalon-medium;
    src: url(../avalon/Avalon-Medium.ttf);
}

@font-face {
    font-family: avalon-book;
    src: url(../avalon/Avalon-Book.ttf);
}

@font-face {
    font-family: avalon-demi;
    src: url(../avalon/Avalon-Demi.ttf);
}

header {
    // position: fixed;
    // top: 0px;
    // width: 100%;
    // z-index: 1200;
    background-color: #fff;
    .left-logo {
       width: 100px;
    }
    .right-logo{
        width: 160px;
    }
}

nav {
    a {
        font-size: 16px !important;
        font-family: avalon-book !important;
        line-height: normal;
        color: #000 !important;
        text-transform: uppercase;
    }

    .navbar-toggler {
        border: none;

        .navbar-toggler-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background-image: url(../Images/Menu.png) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border: none;
        }
    }
}

.cta {
    margin-top: 15px;
    padding: 5px 40px;
    border: none;
    background-color: #997A49;
    font-size: 18px;
    font-family: avalon-book;
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

.scroll-btn{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    button{
        border: none;
        background-color: #997A49;
        font-size: 21px;
        font-family: avalon-book;
        color: #fff;
        text-decoration: none;
        width: fit-content;
        padding: 10px 30px;
        text-transform: capitalize;
        @media (max-width:991px) {
            font-size: 17px;
            padding: 5px 20px;
        }
    }
}

.content {
    padding: 80px 0px;

    @media (max-width:991px) {
        padding: 40px 0px;
    }

    h1 {
        font-size: 52px;
        font-family: avalon-book;
        font-style: normal;
        margin: 0px;
        color: #997A49;
        padding-bottom: 20px;

        @media (max-width:991px) {
            font-size: 30px;
        }
    }

    p {
        font-size: 15px;
        font-family: avalon-book;
        margin: 0px;
        font-style: normal;
    }
}

.entrance {
    h2 {
        font-size: 36px;
        font-family: avalon-book;
        color: #997A49;
        margin: 0px;
        padding-bottom: 16px;

    }

    p {
        font-size: 15px;
        font-family: avalon-book;
        color: #000;
        margin: 0px;
        padding-bottom: 10px;
        text-align: justify;
    }
    h6{
        font-size: 21px;
        font-family: avalon-book;
        color: #000;
        text-transform: capitalize;
        margin: 0px;
        padding-bottom: 10px;
        text-align: justify; 
    }
}

.location {
    padding: 80px 0px;

    @media (max-width:991px) {
        padding: 40px 0px;
    }

    h2 {
        font-size: 52px;
        font-family: avalon-book;
        color: #997A49;
        margin: 0px;
        padding-bottom: 16px;

        @media (max-width:991px) {
            font-size: 36px;
        }

    }

    h3 {
        font-size: 32px;
        font-family: avalon-book;
        color: #000;
        margin: 0px;
        padding-bottom: 16px;

    }

    p {
        font-size: 15px;
        font-family: avalon-book;
        color: #000;
        margin: 0px;
        padding-bottom: 10px;
        text-align: justify;
    }
}

.floor {
    padding-bottom: 80px;

    h2 {
        font-size: 52px;
        font-family: avalon-book;
        color: #997A49;
        margin: 0px;
        padding-bottom: 16px;

        @media (max-width:991px) {
            font-size: 36px;
        }
    }
    // .wrapper{
    //     max-width: 1100px;
    //   }
      .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .gallery .image{
        padding: 7px;
        width: calc(100% / 2 );
        cursor: pointer;
      }
      .gallery .image span{
        display: flex;
        width: 100%;
        overflow: hidden;
      }
      .gallery .image img{
        width: 100%;
        vertical-align: middle;
        transition: all 0.3s ease;
      }
      .gallery .image:hover img{
        transform: scale(1.1);
      }
      .preview-box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        background: #fff;
        max-width: 700px;
        width: 100%;
        z-index: 5;
        opacity: 0;
        pointer-events: none;
        border-radius: 3px;
        padding: 0 5px 5px 5px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
      }
      .preview-box.show{
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.3s ease;
      }
      .preview-box .details{
        display: flex;
        align-items: center;
        padding: 12px 15px 12px 10px;
        justify-content: space-between;
      }
      .preview-box .details .title{
        display: flex;
        font-size: 18px;
        font-weight: 400;
      }
      .details .title p{
        margin: 0 5px;
      }
      .details .title p.current-img{
        font-weight: 500;
      }
      .details .icon{
        color: #000;
        font-size: 20px;
        cursor: pointer;
      }
      .preview-box .image-box{
        display: flex;
        width: 100%;
        position: relative;
      }
      .image-box .slide{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        font-size: 30px;
        cursor: pointer;
        height: 50px;
        width: 60px;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
      }
      .slide.prev{
        left: 0px;
      }
      .slide.next{
        right: 0px;
      }
      .image-box img{
        width: 100%;
        border-radius: 0 0 3px 3px;
      }
      .shadow{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: none;
        background: rgba(0,0,0,0.45);
      }
      @media(max-width: 1000px){
        .gallery .image{
          width: calc(100% / 2);
        }
      }
      @media(max-width: 600px){
        .gallery .image{
          width: 100%;
          padding: 4px;
        }
      }

    button {
        padding: 5px 40px;
        border: none;
        background-color: #997A49;
        font-size: 18px;
        font-family: avalon-book;
        color: #fff;
        text-decoration: none;
    }
}

.foot {
    padding: 3px 0px;
    border-top: 1px solid #000;

    p {
        margin: 0px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        color: #53626a;
        text-decoration: none;
        font-family: avalon-medium;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999999;
}

.form-container {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    padding: 20px 120px;
    border-radius: 5px;
    display: none;
    z-index: 999999;

}

.form-container button:hover {
    background-color: white;
    color: black;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.popup_form .cross {
    background-color: #997A49;
    color: #fff;

    &:hover {
        background-color: #997A49;
        color: #fff;
    }
}

.popup_form label {
    color: #997A49;
    font-family: avalon-book;
    font-size: 18px;
}

.popup_form input{
    font-family: avalon-book;
    font-size: 14px;
    color: #53626a;
}

.popup_form textarea{
    font-family: avalon-book;
    font-size: 14px;
    color: #53626a;
}

.popup_form h5 {
    color: #997A49;
    font-family: avalon-book;
    font-size: 24px;
}

.popup_form h6 {
    color: #997A49;
    font-family: avalon-bold;
    font-size: 15px;
    text-align: center;
}

.popup_form button {
    background-color: #997A49;
    color: #fff;
    font-family: avalon-book;
    font-weight: 500;

    &:hover {
        border: 1px solid #997A49;
    }
}

@media (max-width:576px) {
    .form-container {
        top: 50%;
        width: 100%;
        padding: 50px 60px;
    }

    .btn_brochure {
        background-color: #1e1916;
        padding: 5px 0 20px 0;
        margin-top: -5px;
    }
}