*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    a{
        font-size: 22px;
        font-family: "Manrope", sans-serif;
        font-weight: 600 !important;
        line-height: normal;
        color: #000 !important;
        font-style: italic;
    }
}

.about{
    padding: 80px 0px;
    h1{
        margin: 0px;
        font-size: 52px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        line-height: normal;
        color: #000;
        padding-bottom: 17px;
        font-style: italic;
    }
    p{
        font-family: "Outfit", sans-serif;
        font-size: 17px;
        margin: 0px;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }
    button{
        background-color: #9F6F39;
        padding: 7px 30px;
        margin-top: 20px;
        border: none;
        a{
            font-family: "Outfit", sans-serif;
            font-size: 14px;
            margin: 0px;
            text-decoration: none;
            font-weight: 400;
            line-height: normal;
            color: #fff;
        }
    }
}

.content{
    padding: 50px 0px;
    background-color: #000;
    h2{
        margin: 0px;
        margin: 0px;
        font-size: 36px;
        font-family: "Manrope", sans-serif;
        font-weight: 300;
        color: #fff;
        font-style: italic;
        padding-bottom: 20px;
    }
    p{
        font-family: "Outfit", sans-serif;
        font-size: 17px;
        margin: 0px;
        font-weight: 400;
        line-height: normal;
        color: #fff;
    }
    button{
        background-color: #C49C73;
        padding: 10px 40px;
        margin-top: 30px;
        width: fit-content;
        a{
            color: #fff;
            font-family: "Manrope", sans-serif;
            font-size: 17px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.gallery{
    margin-bottom: 40px;
    h2{
        margin: 0px;
        margin: 0px;
        font-size: 36px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        color: #000;
        font-style: italic;
        text-align: center;
    }
    .post-slide {
        border-radius: 16.281px;
        // background: rgba(217, 217, 217, 0.08);

        // box-shadow: -3.618px 3.618px 11.035px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
        flex-shrink: 0;
        margin: 20px 15px 20px;
        border-radius: 15px;
    }

    .owl-controls .owl-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .owl-controls .owl-buttons .owl-prev {
        background: transparent;
        position: absolute;
        bottom: -4%;
        right: 70px;
        padding: 0 18px 0 15px;
        border-radius: 50px;
        border: 2px solid #000;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-next {
        background: transparent;
        position: absolute;
        bottom: -4%;
        right: 15px;
        padding: 0 15px 0 18px;
        border-radius: 50px;
        border: 2px solid #000;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\f104";
        font-family: FontAwesome;
        color: #333;
        font-size: 30px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\f105";
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\f104";
        font-family: FontAwesome;
        color: #000;
        font-size: 30px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\f105";
        color: #000;
    }

    @media only screen and (max-width:1280px) {
        .post-slide .post-content {
            padding: 0px 15px 25px 15px;
        }
    }
}

.amenities {
    overflow: hidden;
    padding: 50px 0px;

    img {
        align-self: center;
        height: 90px;
        filter: grayscale(30);
    }

    h6 {
        color: #53626a;
        font-weight: 400;
        font-size: 17px;
        font-style: normal;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-family: "Manrope", sans-serif;
    }

    h2 {
        font-size: 56px;
        color: #000;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        line-height: normal;
        margin: 0px;
    }

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: #53626a;
        text-decoration: none;
        font-family: "Manrope", sans-serif;
    }
}

.location{
    padding: 50px 0px;
    h2 {
        font-size: 38px;
        color: #000;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        line-height: normal;
        margin: 0px;
        padding-bottom: 32px;
        text-transform: capitalize;
    }
    img{
        mix-blend-mode: multiply;
    }
    h5 {
        font-size: 22px;
        color: #000;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        line-height: normal;
        margin: 0px;
        padding-bottom: 17px;
        padding-top: 50px;
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: #53626a;
        text-decoration: none;
        font-family: "Manrope", sans-serif;
    }
    button{
        background-color: #9F6F39;
        padding: 7px 30px;
        width: fit-content;
        border: none;
        a{
            font-size: 15px;
            color: #fff;
            font-weight: 700;
            font-family: "Manrope", sans-serif;
            line-height: normal;
            text-decoration: none;
        }
    }
}

.contact{
    padding: 50px 0px;
    .form-box{
        background: #53626a;
        padding: 40px;
        input{
            background-color: #fff;
            padding: 10px;
            width: 100%;
            border: none;
            color: #1A1A1A;
            font-family: "Manrope", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
        textarea{
            width: 100%;
            height: 180px;
            padding: 10px;
            color: #1A1A1A;
            font-family: "Manrope", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
        select{
            width: 100%;
            padding: 10px;
            color: #1A1A1A;
            font-family: "Manrope", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
        button{
            background-color: #9F6F39;
            padding: 8px 30px;
            color: #fff;
            font-family: "Manrope", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
        }
    }
}